body {
        margin:0;
        padding: 0;
        background-image: url("../img/customs.jpg");
        background-position: top -440px right 50%;
        color: #151a19;
    }

    #master {
        top: 0px; 
        width: 100%; 
        position: static; 
        height: 100%;
        background-color: rgba(95, 89, 89, 0.5);
    }

    #site-container {
        top: 0px; 
        width: 80%; 
        position: static; 
        height: 80%;
        margin:0 auto;
    }

    #site-header {
        position: fixed;
        display:inline-block;
        top: 0px; 
        left: 0px;
        z-index: 1000; 
        margin-top: 0px; 
        height: 81px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .hd_bg {
        position: fixed;
        min-width: 600px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 81px;
        background-color: rgba(255, 255, 255, 1);
        border-top: 0px solid transparent;
        border-bottom: 0px solid transparent;
    }

    #header-site-width {
        width: 1205px;
        left: -112.5px;
    }

    #header-content {
        min-width: 600px;
        font: normal normal normal 16px/1.55em avenir-lt-w01_35-light1475496,sans-serif;
        color: #151a19;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 80%;
        height: 81px;
        margin: 0 auto;
    }

    .hd_menu {
        top: 20px; 
        left: 5px; 
        width: 100%; 
        height: 30px; 
        position: absolute;
    }

    ul {
        list-style-type: none;
        margin: 0 auto;
    }
    a:link { 
        text-decoration: none;
        color: #151a19;;
    }
    a:visited { 
        text-decoration: none;
        color: #151a19;;
    } 
    a:hover { 
        text-decoration: none;
        color: #151a19;;
    } 
    a:active {
        text-decoration: none;
        color: #151a19;;
    }

    .page_container {
        left: 0px; 
        position: absolute;
        top: 81px;
    }

    #act {
        z-index: 10;
        background-color: rgb(112,112,112,.45);
    }

    .act_large_text {
        font: normal normal normal 80px/1.08em avenir-lt-w01_85-heavy1475544,sans-serif;
        color: #FFFFFF;
        text-align:center; 
        line-height: 1.1em;
        width: 70%;
        margin: 0 auto;
        font-size: 7vw; 
    }

    .act_medium_text {
        font: normal normal normal 24px avenir-lt-w01_35-light1475496,sans-serif;
        color:#FFFFFF;
        margin: 0 auto;
        text-align:center;
    }

    .bg_grey {
        background-color: #c9d2d1;
        padding-bottom: 50px;
    }

    .bg_grey2 {
        background-color: #c9d2d1;
    }

    .bg_white {
        background-color: #ffffff;
        padding-bottom: 50px;
    }

    .about_large_text {
        text-align:left;
        line-height:1.161em;
        font: normal normal normal 56px/1.161em avenir-lt-w01_85-heavy1475544,sans-serif;
        width: 70%;
        margin: 0 auto;
    }

    .about_medium_text {
        text-align:left;
        line-height:1.161em;
        font: normal normal normal 16px/1.55em avenir-lt-w01_35-light1475496,sans-serif;
        margin: 0 auto;
    }

    .ser_content {
        width: 80%;
        margin: 0 auto;
        color: #5e665e;
        display: flex;
    }

    .ser_left {
        left: calc(17% - 16.6327vw);
        width: 30%;
        top: 0px;
        height: 80%;
    }

    .ser_left_title {
        font-weight: bold;
        font: normal normal normal 24px/1.46em avenir-lt-w01_35-light1475496,sans-serif;
        text-align: left;
        line-height: 1.46em;
    }

    .ser_left_content {
        font: normal normal normal 16px/1.55em avenir-lt-w01_35-light1475496,sans-serif;
        text-align: left;
        line-height: 1.55em;
    }
    .ser_center {
        left: calc(33% + 0vw);
        width: 33%;
        top: 0px;
        height: 80%;
        flex-grow: 1;
        padding-left: 25px;
        padding-right: 25px;
    }

    .ser_right {
        left: calc(83% + 16.6327vw);
        width: 33%;
        top: 0px;
        height: 80%;
        flex-grow: 1;
    }

    .ser_svg {
        fill: currentColor;
        top: 0px; 
        left: 0px; 
        width: 60px; 
        height: 60px; 
    }

    .rate_form {
        font: normal normal normal 16px/1.55em avenir-lt-w01_35-light1475496,sans-serif;
        color: #151A19;
        margin: 0 auto;
        margin-top: 15px;
    }

    .rate_top {
        width: 100%;
        margin: 0 auto;
        display: flex;
    }

    #fullName {
        width: 50%;
        margin-bottom: 10px;
        margin-right: 10px;
        padding: 5px;
        background-color: transparent;
        border: 1px solid rgba(21, 26, 25, 1);
    }

    #email {
        width: 50%;
        border: 1px solid rgba(21, 26, 25, 1);
        flex-grow: 1;
        margin-bottom: 10px;
        background-color: transparent;
    }

    #subject {
        box-sizing:border-box;
        margin: 0 auto;
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        background-color: transparent;
        border: 1px solid rgba(21, 26, 25, 1);
    }

    #message {
        box-sizing:border-box;
        padding: 5px;
        margin-bottom: 10px;
        resize: none;
        border: 1px solid rgba(21, 26, 25, 1);
        width: 100%;
        height: 300px;
        background-color: transparent;
        overflow: auto;
    }

    #rate_send {
        border: none;
        cursor: pointer;
        background-color: rgba(21, 26, 25, 1);
        color: #FFFFFF;
        width: 100%;
        min-height: 45px;
        display: block;
        margin-bottom: 0 auto;
        font: normal normal normal 16px/1.55em avenir-lt-w01_35-light1475496,sans-serif;
        padding: 5px;
    }

    .jumptarget::before {
        content:"";
        display:block;
        height:50px; /* fixed header height*/
        margin:-50px 0 0; /* negative fixed header height */
    }